<section id="2">

    <div class="main-container">
        <div class="skillscontainer">
            <h2>{{'SKILLS.H2' | translate}}</h2>
            <div class="skills">
                <app-skill-container [name]="'CSS3'" [alt]="'CSS3'" [svgSource]="'/portfolio/assets/css.svg'"></app-skill-container>
                <app-skill-container [name]="'MySQL'" [alt]="'MySQL'" [svgSource]="'/portfolio/assets/mysql.svg'"></app-skill-container>
                <app-skill-container [name]="'SCSS'" [alt]="'SCSS'" [svgSource]="'/portfolio/assets/sass.svg'"></app-skill-container>
                <app-skill-container [name]="'HTML5'" [alt]="'HTML5'" [svgSource]="'/portfolio/assets/html.svg'"></app-skill-container>
                <app-skill-container [name]="'GULP'" [alt]="'GULP'" [svgSource]="'/portfolio/assets/gulp.svg'"></app-skill-container>
                <app-skill-container [name]="'JS'" [alt]="'JS'" [svgSource]="'/portfolio/assets/js.svg'"></app-skill-container>
                <app-skill-container [name]="'PHP'" [alt]="'PHP'" [svgSource]="'/portfolio/assets/php.svg'"></app-skill-container>
                <app-skill-container [name]="'GITHUB'" [alt]="'GITHUB'" [svgSource]="'/portfolio/assets/github.svg'"></app-skill-container>
                <app-skill-container [name]="'GIT'" [alt]="'GIT'" [svgSource]="'/portfolio/assets/git.svg'"></app-skill-container>
                <app-skill-container [name]="'HEROKU'" [alt]="'HEROKU'" [svgSource]="'/portfolio/assets/heroku.svg'"></app-skill-container>
                <app-skill-container [name]="'FIGMA'" [alt]="'FIGMA'" [svgSource]="'/portfolio/assets/figma.svg'"></app-skill-container>
                <app-skill-container [name]="'LINUX'" [alt]="'LINUX'" [svgSource]="'/portfolio/assets/linux.svg'"></app-skill-container>
            </div>
        </div>
        <div class="skills-png">
            <img src="/portfolio/assets/c7.svg" alt="">
        </div>
    </div>
</section>
