<div class="section" id="about-me-mobile">
    <h2>about-me</h2>

  <div class="about-me">
    <span class="about">About</span>
      <div class="square">
        <span>Who am i?</span>
        <p>I’m Antonio, a web developer from Argentina. I study in a self-taught way, and love to keep improving at my code skills and making new projects.
            I started studying at end of 2019, in the way i have achieved experience trough practices and differents web pages that you will be able to see in the “Projects” section.
            I am responsible, hardworking and persistent person!
            Love to work in group and solve needs</p>
    </div>
    <span class="me">ME</span>
  </div>
</div>
